[submodule "tudat"]
	path = tudat
	url = https://github.com/lupif/tudat.git
[submodule "tudatExampleApplications"]
	path = tudatExampleApplications
	url = https://github.com/lupif/tudatExampleApplications.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "nrlmsise-00"]
	path = nrlmsise-00
	url = https://github.com/magnific0/nrlmsise-00.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "sofa"]
	path = sofa
	url = https://github.com/DominicDirkx/sofa.git
[submodule "json"]
	path = json
	url = https://github.com/aleixpinardell/json.git
[submodule "matlabInterface"]
	path = matlabInterface
	url = https://github.com/aleixpinardell/tudat-matlab.git
[submodule "pagmo2"]
	path = pagmo2
	url = https://github.com/esa/pagmo2.git
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/stevengj/nlopt.git
[submodule "CoinIpopt"]
	path = CoinIpopt
	url = https://github.com/coin-or/Ipopt.git
	branch = stable/3.12
[submodule "cspice"]
	path = cspice
	url = https://github.com/magnific0/cspice.git

